.logo a {
    display: none;
}

.first-entry .entry-header h1 {
    font-size:30px;
    line-height:1.3;
    text-align: center;
    margin-bottom: 1%;
  }

.post-content a {
    color:var(--andylab)
}

#menu .active {
    color: var(--andylab);
}

.footer a {
    color: var(--andylab);
    border-bottom: 1px solid var(--andylab);
}

.dark {
    --theme: rgb(27 31 34 );
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --code-block-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(209 213 219);
    --andylab: #6db33f;
}

.post-entry {
    position: relative;
    margin-bottom: var(--gap);
    padding: var(--gap);
    background: var(--theme);
    border-radius: var(--radius);
    transition: transform 0.4s;
    border: 1px solid var(--border);
}

.post-tags a,
.share-buttons {
    border-radius: var(--radius);
    background: var(--theme);
}


.post-tags a:hover{
    border: 1px solid var(--andylab);
    background: var(--theme);
    color: var(--andylab);
}

.paginav {
    border-radius: var(--radius);
    background: var(--theme);
    border: none;
}
.paginav a:hover {
    color: var(--andylab);
    background: var(--theme);
}


.post-tags a {
    display: block;
    padding: 0 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 34px;
    background: var(--theme);
}


.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.profile_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.profile_inner img {
    border-radius: 9999px;
    margin-bottom: 10px;
}

.first-entry .entry-content {
    text-align: center;
}


.terms-tags a {
    display:block;
    padding:3px 10px;
    background:var(--theme);
    color:var(--secondary);
    border-radius:6px;
    border: 1px solid var(--secondary);
    transition:transform .1s
    
}

.terms-tags a:hover{
    border: 1px solid var(--andylab);
    color: var(--andylab);
}

.terms-tags a:active {
    background:var(--tertiary);
    transform:scale(.96);
}

.post-entry {
    transition: transform 0.3s ease, border-color 0.3s ease;
}

.post-entry:hover {
    transform: scale(1.05);
    border-color: var(--andylab);
    box-shadow: 
        var(--tw-ring-offset-shadow, 0 0 #0000), 
        var(--tw-ring-shadow, 0 0 #0000), 
        0 10px 15px -3px var(--andylab),
        0 4px 6px -4px var(--andylab);
}


.transition-colors {
    transition: background-color 0.5s ease, color 0.5s ease;
}




.profile_inner {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.entry-content-info {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.entry-content-info .skill {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
    font-size: 1rem;
}

#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1000;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(calc(-50vw + 100vw * var(--x)));
    width: calc(5px + 10 * var(--i));
    height: calc(5px + 10 * var(--i));
    background: var(--snow-color, white);
    border-radius: 50%;
    opacity: 0;
    animation: fall linear infinite;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

body.dark .snowflake {
    --snow-color: #e0e0e0;
}

body:not(.dark) .snowflake {
    --snow-color: #ffffff;
}

@keyframes fall {
    0% {
        transform: translate(calc(-50vw + 100vw * var(--x)), -10px);
        opacity: 0.9;
    }
    50% {
        transform: translate(calc(-50vw + 100vw * var(--x) + 30px), 50vh);
        opacity: 0.6;
    }
    100% {
        transform: translate(calc(-50vw + 100vw * var(--x) + 50px), 110vh);
        opacity: 0.2;
    }
}

/* Classe per la dissolvenza in entrata */
.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

/* Classe per la dissolvenza in uscita */
.fade-out {
    opacity: 0.8; /* Opacità iniziale corrispondente all'opacità finale dei fiocchi */
    animation: fadeOut 2s forwards;
}

/* Animazione per la dissolvenza in entrata */
@keyframes fadeIn {
    to {
        opacity: 0.8; /* Opacità finale desiderata */
    }
}

/* Animazione per la dissolvenza in uscita */
@keyframes fadeOut {
    to {
        opacity: 0;
    }
}



#christmas-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 5px;
    vertical-align: middle;
}


#tree-off,
#tree-on {
    margin-top: 24px; 
}

#tree-on {
    display: none;
}

body.christmas-mode #tree-off {
    display: none;
}

body.christmas-mode #tree-on {
    display: inline;
}


/* Variabili per randomizzare i fiocchi */
.snowflake:nth-child(odd) {
    animation-duration: 10s; /* Durata diversa per i fiocchi dispari */
    animation-delay: calc(-10s * var(--i));
}

.snowflake:nth-child(even) {
    animation-duration: 8s; /* Durata diversa per i fiocchi pari */
    animation-delay: calc(-8s * var(--i));
}


.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    top: -10%;
}

.not-found {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 80px;
    font-weight: 700;
    text-align: center;
}

.not-found h1 {
    font-size: 80px;
    font-weight: 700;
    margin: 0;
}

.not-found img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.not-found-container .breadcrumbs {
    position: absolute;
    top: 10px; /* Posiziona in alto */
    left: 10px; /* Posiziona a sinistra */
    z-index: 10; /* Assicura che sia sopra gli altri elementi */
  }
  


.footer > span:nth-child(1) > a:nth-child(1){
    color: var(--andylab);
    border-bottom: 1px solid var(--andylab);
}

#main-content,
#nav,
#footer {
    transition: filter 0.3s ease;
}

.blurred {
    filter: blur(5px);
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none;
}

/* Overlay covering the entire page */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
    display: none; /* Hidden by default */
}

/* privacy banner styling */
#privacy-banner {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    font-size: 16px;
    border: 1px solid var(--secondary);
    max-width: calc(var(--main-width) + var(--gap) * 4);
    background-color: var(--theme);
    border-radius: var(--radius);
    padding: var(--gap);
    display: none; /* Hidden by default */
}

/* Content within the privacy banner */
.privacy-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
}

/* Button within the privacy banner */
.privacy-content button {
    color: var(--secondary);
    font-size: 13px;
    line-height: 36px;
    background: var(--theme);
    border-radius: var(--radius);
    border: 1px solid var(--border);
    padding: 0 16px;
    flex-shrink: 0;
}

.privacy-content button:hover {
    border: 1px solid var(--andylab);
}

.privacy-content button:hover span {
    color: var(--andylab);
}

/* Link within the privacy banner */
.privacy-content a {
    color: var(--andylab);
    box-shadow: 0 1px;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}



/* Blurred effect for main content, navigation, and footer */
.blurred {
    filter: blur(5px);
    transition: filter 0.3s ease;
}


@media (max-width: 768px) {
    .privacy-content button {
        width: 100%;
    }
    .privacy-content {
        flex-direction: column;
    }
    #privacy-banner {
        width: 90vw; /* 90% of the viewport width */
        max-width: 600px; /* Optional maximum width */
    }
    
}
